{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <center>
      Add photos and text
    </center>
      <div class="mt-5 text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
            Our Vision
        </h1>
        <p class="mb-4 leading-relaxed">
            Part of #Hykeathon 2023
        </p>
      </div>
    </div>
</section>
{% endblock content %}